<div class="container mt-5">
  <%= form_with(model: @user) do |form| %>
    <% @user.errors.full_messages.each do |error| %>
      <div>
        <%= error %>
      </div>
    <% end %>

    <div>
      <%= form.label :email %>
      <%= form.text_field :email, required: true, style: 'width: 100%' %>
    </div>

    <div>
      <%= form.label :username %>
      <%= form.text_field :username, required: true, style: 'width: 100%' %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.text_field :password, required: true, style: 'width: 100%' %>
    </div>

    <div>
      <%= form.submit 'Create', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
    </div>
  <% end %>
</div>